@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --rdp-cell-size: 40px;
  --rdp-accent-color: #0000ff;
  --rdp-background-color: #e7edff;
  --rdp-accent-color-dark: #3003e1;
  --rdp-background-color-dark: #180270;
   */
  --rdp-background-color: #19d3ae !important;
  --rdp-accent-color: #0fcfec !important;
  --rdp-outline: 2px solid #19d3ae !important;
  --rdp-outline-selected: 1px solid rgba(15, 206, 236, 0.356);
}

body {
  font-family: "Open Sans", sans-serif;
}
